<div class="btn-std">
 <div class="btn-group">
     <~no_return_url unless="return_url" inline>
       <a class="btn btn-default" href="<~../url>/new<~/common/list/relidq>" <~/common/disabled if="is_readonly">><i class="bi bi-plus-lg"></i> `Add New`</a>
     </~no_return_url>
     <~yes_return_url if="return_url" inline>
       <a class="btn btn-default" href="<~return_url>"><i class="bi bi-arrow-left-circle"></i> `Return Back`</a>
       <a class="btn btn-default" href="<~../url>/new?<~addret if="return_url" inline>return_url=<~return_url></~addret><~/common/list/relid>" <~/common/disabled if="is_readonly">><i class="bi bi-plus-lg"></i> `Add New`</a>
     </~yes_return_url>
 </div>
 <~/common/form/btn_userlists if="is_userlists">
 <~btn_std_more>
</div>