<div class="row form-row">
  <label class="col-form-label col-md-3">`ID`</label>
  <div class="col-md-2"><p class="form-control-plaintext"><~id if="id"><~/common/form/idnew unless="id"></p>
  </div>
  <div class="col text-end">
    <span class="form-saved-status"></span>
    <button type="submit" class="btn btn-primary">`Save`</button>
    <button type="submit" class="btn btn-secondary" name="route_return" value="New">`Save and Add New`</button>
    <button type="button" class="btn btn-default on-cancel" data-href="<~/common/form/cancel_url>">`Cancel`</button>
  </div>
</div>
