<div class="sidebar-nav">
  <ul class="nav nav-list">
    <~logged_menu if="SESSION[is_logged]" inline>
       <li class="nav-header">Member's Menu</li>
       <li <~/std/header/active ifeq="GLOBAL[controller]" value="Main"> ><a href="<~/main/url>">Main Menu</a></li>
       <li <~/std/header/active ifeq="GLOBAL[controller]" value="MySettings"> ><a href="<~/my/settings/url>">My Profile</a></li>
       <li <~/std/header/active ifeq="GLOBAL[controller]" value="MyPassword"> ><a href="<~/my/password/url>">Change Password</a></li>

       <~admin100_menu ifgt="SESSION[access_level]" value="80" inline>
          <li class="nav-header">Moderator Menu</li>
          <li <~/std/header/active ifeq="GLOBAL[controller]" value="AdminCategories"> ><a href="<~/admin/categories/url>">Manage Categories</a></li>
          <li <~/std/header/active ifeq="GLOBAL[controller]" value="AdminDemos"> ><a href="<~/admin/demos/url>">Demo</a></li>
          <li <~/std/header/active ifeq="GLOBAL[controller]" value="AdminDemoDicts"> ><a href="<~/admin/demodicts/url>">Demo Dict</a></li>
          <li <~/std/header/active ifeq="GLOBAL[controller]" value="AdminSpages"> ><a href="<~/admin/spages/url>">Pages</a></li>
          <li <~/std/header/active ifeq="GLOBAL[controller]" value="AdminAtt"> ><a href="<~/admin/att/url>">Manage Uploads</a></li>
          <li <~/std/header/active ifeq="GLOBAL[controller]" value="AdminLookupManager"> ><a href="<~/admin/lookupmanager/url>">Lookup Manager</a></li>
       </~admin100_menu>

       <~admin100_menu ifeq="SESSION[access_level]" value="100" inline>
          <li class="nav-header">Admin Menu</li>
          <li <~/std/header/active ifeq="GLOBAL[controller]" value="AdminUsers"> ><a href="<~/admin/users/url>">Manage Members</a></li>
          <li <~/std/header/active ifeq="GLOBAL[controller]" value="AdminSettings"> ><a href="<~/admin/settings/url>">Site Settings</a></li>
          <li <~/std/header/active ifeq="GLOBAL[controller]" value="SysBackup"> ><a href="<~/sys/backup/url>">Site Backup</a></li>
          <li <~/std/header/active ifeq="GLOBAL[controller]" value="AdminDB"> ><a href="<~/admin/db/url>">Direct DB Access</a></li>
       </~admin100_menu>
    </~logged_menu>
  </ul>
</div><!--/.well -->
