:root,
[data-bs-theme=light]{
  /*--fw-body-bg: #f5f5f5;*/
  --fw-body-bg: #fff;
  --fw-pane-bg: var(--bs-tertiary-bg);
  --fw-spacer: 1rem;
  --fw-spacer05: calc(var(--fw-spacer)*0.5);
  --fw-hiliter: #ffffcc;
  --fw-table-row-font-size: 0.9rem;
  --fw-sidebar-width: 260px;
  --fw-btn-default-color: var(--bs-emphasis-color);
  --fw-btn-default-bg: var(--bs-light);
  --fw-btn-default-border: var(--bs-light-border-subtle);
}

[data-bs-theme=dark] {
  --fw-body-bg: #1c1c1c;
  --fw-hiliter: #555522;
  /*--fw-pane-bg: var(--bs-tertiary-bg);*/
  --fw-btn-default-bg: var(--bs-light-bg-subtle);
  --fw-btn-default-border: var(--bs-light-border-subtle);
}

body {
 background-color: var(--fw-body-bg);
}

/*.nav-pills {
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #0d6efd;
}
*/
.card {
  --bs-body-bg: var(--fw-pane-bg);
}

/****** fw utilities */
.w100 {
  width: 100px;
}
.nowrap {
  white-space: nowrap;
}
.modal-overflowed {
  max-height: 450px;
  overflow: auto;
}
.modal-wider .modal-dialog{
  max-width: 850px;
}

/****** fw elements */
/*default button appearance*/
.btn-default {
  background-color: var(--fw-btn-default-bg);
  border-color: var(--fw-btn-default-border);
  --bs-btn-color: var(--fw-btn-default-color);
}

  .btn-default:hover,
  .btn-default:focus,
  .btn-default:active,
  .btn-default.active,
  .open .dropdown-toggle.btn-default {
    background-color: var(--fw-btn-default-border);
    border-color: var(--fw-btn-default-border);
  }

  .btn-default:active,
  .btn-default.active,
  .open .dropdown-toggle.btn-default {
    background-image: none;
  }

a[disabled]
  cursor: default;{
  pointer-events: none;
  color: var(--bs-btn-disabled-color);
}

.bi {
  display: inline-block;
  vertical-align: -2px;
  height: 1em;
  width: 1em;
}

.btn-fileinput {
  overflow: hidden;
  position: relative;
}
  .btn-fileinput input {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    min-width: 100%;
    min-height: 100%;
  }

/*fixes for twitter-typeahead*/
.twitter-typeahead {
  width:100%
}
  .twitter-typeahead .tt-hint {
    top: -1px !important;
    left: -1px !important;
  }

.fw-card {
/*  background-color: #fff;
  border-radius: 0.25rem;
  padding: 1rem 1rem 0.25rem 1rem;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
*/
}
  #FEdit.fw-card,
  #FView.fw-card,
  #FDel.fw-card,
  .fw-card[data-list-filter]
  {
/*    background-color: var(--fw-pane-bg);*/
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    padding: var(--fw-spacer) var(--fw-spacer) 0 var(--fw-spacer);
/*    padding: 1rem 1rem 0.25rem 1rem;*/
    margin-bottom: var(--fw-spacer);
  }

/****** layout */
.sidebar {
  width: var(--fw-sidebar-width);
  z-index: 100;

  display: flex!important;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 0;
  color: #000;
}

  .sidebar .nav-pills .nav-link.active {
    color: var(--bs-nav-pills-link-active-color) !important; /*fix active nav text color for light mode*/
  }

main {
  margin-left: var(--fw-sidebar-width);
}
.site-footer {
}

.no-sidebar .sidebar:not(.show,.collapsing) {
  display: none!important;
}
  .no-sidebar main {
    margin-left: 0;
  }
  .no-sidebar .site-navbar {
    display: block !important;
  }
  .no-sidebar .site-navbar .navbar-toggler {
    display: block !important;
  }


@media screen and (max-width: 768px) {
  .sidebar:not(.show,.collapsing) {
    display: none!important;
  }
  main {
    margin-left: 0;
  }
}

/****** list screens */
.btn-std {
  margin-bottom: var(--fw-spacer);
}

.table-list-wrapper {
 position: relative;
}
  .table-list-hscroll-hint {
    position: absolute;
    top:0;
    left:0;
    font-size:small;
    display: none;
    opacity: 0.6;
  }
  .table-dense > .table-list-hscroll-hint {
    display: block;
  }

table.list {
}
  table.list > thead {
    background-color: var(--bs-secondary-bg);
  }
/*
    table.list > thead > tr:first-child th:first-child {
      border-top-left-radius: var(--bs-border-radius);
    }
    table.list > thead > tr:first-child th:last-child {
      border-top-right-radius: var(--bs-border-radius);
    }
*/
    table.list > thead > tr > th[data-sort] {
      cursor: pointer;
    }
    table.list > thead > tr > th[data-sort].active-sort{
      background-color: var(--fw-hiliter) !important;
      white-space: nowrap;
    }
  table.list .search {
    display: none;
  }
  table.list tbody td {
    font-size: var(--fw-table-row-font-size);
  }
  table.list tbody a {
    text-decoration: none;
  }
  table.list > tbody > tr.selected > td {
    background-color: var(--fw-hiliter) !important;
  }
  table.list.table-dense > :not(caption) > * > * {
    padding: 0 1px !important;
    font-size: 0.7rem !important;
  }

  table.list.table-dense th.rotate {
    /* height to fit longest name */
    height: 140px;
    white-space: nowrap;
  }

  table.list.table-dense th.rotate > div {
    transform:
      translate(0px, -8px)
      /* 45 is really 360 - 45 */
      rotate(315deg);
    width: 30px;
  }
  table.list.table-dense th.rotate > div > span {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
  }


/*for .scrollable tables with fixed header*/
.data-header {
  position: fixed;
  overflow: hidden;
  background-color: #fff;
}
  .data-header table{
    margin-bottom: 0;
    max-width: none;
    width: auto;
  }
/*list multi buttons floating when some rows checked*/
#list-btn-multi {
 padding: var(--fw-spacer05) var(--fw-spacer05) 0 0;
 display: inline-block;
 bottom: 0;
 left: var(--fw-spacer);
}
  #list-btn-multi.position-sticky {
    background-color: rgba(var(--bs-tertiary-bg-rgb),0.5);
    left: var(--fw-sidebar-width);
    padding-bottom: var(--fw-spacer);
  }
.pagination .active a {font-weight:bold}
.pagination select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#modal-custom-cols .col-rows .cb-row:hover {
  background-color: var(--fw-hiliter);
}


/****** form screens */
.form-row {
  padding-bottom: var(--fw-spacer);
}

form .required:before {
  content: "*";
  color: var(--bs-danger);
  font-family: Menlo, Monaco, "Courier New", monospace;
  line-height: 1.2;
}

form [class^='err-'] {
  display: none;
}

form .has-danger label {
  color: var(--bs-form-invalid-color);
}
  form .has-danger input,
  form .has-danger select {
    border-color: var(--bs-form-invalid-border-color);
  }
  form .has-danger .invalid-feedback {
    display: block;
  }

.field-multi-value {
  height: calc(var(--bs-body-font-size)*13);
  overflow: auto;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  padding: var(--fw-spacer05);
}

.att-info {
  width: calc(var(--fw-spacer)*10);
  text-align: center;
  margin-bottom: var(--fw-spacer05);
}

.user-list-avatar {
  width: 50px;
  height: 50px;
  background-color: #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .field-multi-value .custom-control{
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

/*on large screens align form labels to the right - closer to inputs*/
@media (min-width: 768px) {
  .form-group.row > .col-form-label,
  .form-row > .col-form-label
  {
    text-align: right;
  }
}


/****** jGrowl customizations */
div.jGrowl div.hint_green{
 background-color:var(--bs-success);
 color:var(--bs-white);
}

div.jGrowl div.hint_error{
 background-color:var(--bs-danger);
 color:var(--bs-white);
}

div.jGrowl div.hint_info{
 background-color:var(--bs-info);
 color:var(--bs-white);
}

div.jGrowl div.jGrowl-notification
, div.jGrowl div.jGrowl-closer {
  border-radius: var(--bs-border-radius);
}
  div.jGrowl div.jGrowl-notification div.jGrowl-close {
    font-size: 1.2em;
  }

/* print helpers */
@media print {
  .page-break-after {
    page-break-after: always;
  }

  .page-break-inside-avoid {
    page-break-inside: avoid
  }

  main {
    max-width: 100% !important;
    width: 100% !important;
    flex-basis: 100% !important;
    margin: 0 !important;
  }

  main.px-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /*this is for PDF generation, layout_print.html*/
  body.fwlayout-print .main-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .table-striped > tbody > tr:nth-of-type(odd) > td {
    background-color: #f9f9f9 !important;
    -webkit-print-color-adjust: exact !important;
  }

  /* https://github.com/wkhtmltopdf/wkhtmltopdf/issues/2135 */
  .wk-img-transparency-fix {
    z-index: 100;
    position: relative;
  }
}
