.card {
 margin-bottom: calc(var(--fw-spacer)*1.5);
 position: relative;
 overflow: hidden;
}
  .svg-container {
    position: absolute;
    top: -24%;
    right: -40%;

    width: 240px;
    height: 120%;
    z-index: 0; /* Places the SVG below the card content */
    opacity: 0.3;
    font-size: 137px;
  }
  .card-body {
   z-index: 1;
  }
  .card-content {
    flex-grow: 1;
  }

.chart-container {
  position: relative;
  width:100%;
}
  .chart-container canvas {
    height:250px;
  }

.on-card-click {
  cursor: pointer;
}
.on-card-click:hover {
  background-color: var(--fw-hiliter);
  opacity: 0.6;
}