<div class="btn-std">
 <div class="btn-group">
     <~no_return_url unless="return_url" inline>
       <a class="btn btn-default" href="<~../url><~/common/list/relid>"><i class="glyphicon glyphicon-menu-left"></i> `Return back to list`</a>
       <a class="btn btn-default" href="<~../url>/new<~/common/list/relid>"><i class="glyphicon glyphicon-plus"></i> `Add New`</a>
     </~no_return_url>
     <~yes_return_url if="return_url" inline>
       <a class="btn btn-default" href="<~return_url>"><i class="glyphicon glyphicon-menu-left"></i> `Return back`</a>
       <a class="btn btn-default" href="<~../url>/new?<~addret if="return_url" inline>return_url=<~return_url></~addret><~relid if="related_id" inline>&related_id=<~related_id></~relid>"><i class="glyphicon glyphicon-plus"></i> `Add New`</a>
     </~yes_return_url>
 </div>
 <~btn_std_more>
</div>