<div class="bg-body">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Hello, world!</h1>
        <p class="col-lg-10 fs-4">This is a Business Application Web Framework</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">

        <~/login/index/form unless="SESSION[user_id]">
        <~/login/index/form_logged if="SESSION[user_id]">

      </div>
    </div>
  </div>
</div>
