<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="glyphicon glyphicon-flag"></i> Add to List
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item on-create-userlist" href="#">Create New List</a>
    <div class="dropdown-divider"></div>
    <~mylists repeat inline>
      <button type="submit" class="dropdown-item" name="addtolist" value="<~id>"><~iname></button>
    </~mylists>
  </div>
  <button type="submit" class="btn btn-default <~/common/disabledcl unless="f[userlist]">" name="removefromlist" value="<~f[userlist]>">Remove from List</button>
</div>
