  <div class="col text-end d-print-none">
    <div class="btn-group">
      <button type="submit" name="export" value="csv" class="btn btn-outline-secondary"><~/common/icons/cloud-download> `Export`</button>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="visually-hidden">`Toggle Dropdown`</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <button type="submit" name="export" value="xls" class="dropdown-item" title="Export to Excel">
          <~/common/icons/cloud-download-fill> `Export as .xls`
        </button>
      </div>
    </div>
  </div>
