<form class="fw-card" action="<~../url>" method="post">
  <input type="hidden" name="XSS" value="<~SESSION[XSS]>">
  <input type="hidden" name="_method" value="PUT">
  <~/common/form/relid>

  <div class="table-list-wrapper">
    <div class="table-list-hscroll-hint"><~/common/icons/info-circle-fill> use <kbd>Shift+Mouse Wheel</kbd> for an easy horizontal scrolling
    </div>
    <table class="table table-stripedX table-hover list <~user_view[density] default="table-sm">">
      <~/common/list/thead>
      <~/common/list/tbody>
    </table>
  </div>

  <~/common/list/empty unless="list_rows">
  <~/common/list/table_under if="list_rows">
</form>

<hr class="d-print-none">