  <label class="col-form-label col-md-2 col-xl-1" for="fs">`Search`</label>
  <div class="col-md-9">
      <div class="input-group">
          <input type="text" id="fs" name="f[s]" value="<~f[s]>" maxlength="255" class="form-control">
          <span class="input-group-append"><button class="btn btn-outline-secondary w100"><i class="glyphicon glyphicon-search"></i></button></span>
          <span class="input-group-append"><a href="?dofilter=1" class="btn btn-outline-secondary w100 on-filter-reset">Reset</a></span>
      </div>
  </div>
