    <tbody class="table-group-divider">
<~list_rows repeat inline>
        <tr data-url="<~row_click_url>" data-id="<~id>">
            <td><input class="multicb" type="checkbox" name="cb[<~id>]" value="1"></td>
            <~/common/list/list_row_td_btn if="GLOBAL[is_list_btn_left]">
            <~cols repeat inline><td><~data var unless="is_custom"><~col_custom if="is_custom"></td></~cols>
            <~/common/list/list_row_td_btn unless="GLOBAL[is_list_btn_left]">
        </tr>
</~list_rows>
    </tbody>
