RewriteEngine On
RewriteBase /

#RewriteRule ^css/site_\d+.css /css/site.css [L]
#RewriteRule ^js/site_\d+.js /js/site.js [L]

#deny access to templates
RewriteRule ^template/ - [F,L,NC]

#ignore assets dirs by fw engine
RewriteRule ^(?:assets|upload)/ - [L]

#fw engine
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
