<form method="post" action="<~../url>" data-errors="<~ERR json>">
 <input type="hidden" name="XSS" value="<~session[XSS]>">

  <fieldset>
    <~/common/form/msg>

    <div class="form-group row">
      <label class="col-form-label col-md-3 required" for="email">`Email`</label>
      <div class="col-md-9">
        <input id="email" name="item[email]" maxlength="128" value="<~i[email]>" type="email" class="form-control" required>
        <p class="err-EXISTS">`Such email already exists in our database`</p>
        <p class="err-WRONG">`Invalid Email`</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-md-3 required" for="pwd">`Password`</label>
      <div class="col-md-4">
        <input id="pwd" name="item[pwd]" maxlength="64" value="" type="password" class="form-control" required>
      </div>
      <div class="col-md-4">
        <input id="pwd2" name="item[pwd2]" maxlength="64" value="" type="password" class="form-control" required placeholder="confirm password">
        <p class="err-WRONG">`Passwords are not equal`</p>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-form-label col-md-3" for="fname">`First name`</label>
      <div class="col-md-9">
        <input id="fname" name="item[fname]" maxlength="32" value="<~i[fname]>" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-md-3" for="lname">`Last name`</label>
      <div class="col-md-9">
        <input id="lname" name="item[lname]" maxlength="32" value="<~i[lname]>" type="text" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-9 ml-md-auto">
        <button type="submit" class="btn btn-primary">`Sign Up`</button>
        <button type="button" class="btn btn-default on-cancel" data-href="<~/login/url>">`Cancel`</button>
      </div>
    </div>

  </fieldset>
</form>