<form method="post" action="<~../url>/(SaveReset)">
  <input type="hidden" name="XSS" value="<~session[XSS]>">
  <input type="hidden" name="login" value="<~user[email]>">
  <input type="hidden" name="token" value="<~token>">

  <fieldset>
    <legend><~title></legend>

<~/common/form/msg>

    <div class="form-group row <~/common/error if="ERR[login]">">
      <label class="col-form-label col-md-3" for="login">`Your Email`</label>
      <div class="col-md-9">
        <p class="form-control-plaintext"><~user[email]></p>
      </div>
    </div>

    <div class="form-group row <~/common/error if="ERR[pwd]">">
      <label class="col-form-label col-md-3 required" for="pwd">`New Password`</label>
      <div class="col-md-9">
        <input id="pwd" type="password" name="item[pwd]" size="32" maxlength="32" value="" class="form-control" required>
      </div>
    </div>

    <div class="form-group row <~/common/error if="ERR[pwd2]">">
      <label class="col-form-label col-md-3 required" for="pwd2">`Repeat New Password`</label>
      <div class="col-md-9">
        <input id="pwd2" type="password" name="item[pwd2]" size="32" maxlength="32" value="" class="form-control" required>
        <~err_pwd2_NOTEQUAL ifeq="ERR[pwd2]" value="NOTEQUAL" inline><p class="help-block">`Passwords are not equal`</p></~err_pwd2_NOTEQUAL>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">`Update Password`</button>
      <button type="button" class="btn btn-default" onclick="window.location='<~/login/url>'">`Cancel`</button>
    </div>

  </fieldset>
</form>