.form-login {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: .75rem .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input.filled
/*, .form-label-group input:not(:placeholder-shown)*/
{
  padding-top: calc(.75rem + .75rem * (2 / 3));
  padding-bottom: calc(.75rem / 3);
}

.form-label-group input.filled ~ label
/*, .form-label-group input:not(:placeholder-shown) ~ label*/
{
  padding-top: calc(.75rem / 3);
  padding-bottom: calc(.75rem / 3);
  font-size: 12px;
  color: #777;
}