<div id="fb-root"></div>

<div class="text-center mb-4">
  <h1 class="fw-bold text-body-emphasis mb-3"><~/site_name></h1>
  <h4><~title></h4>
</div>

<div class="login-block m-auto">
<~/common/form/msg>

<~err_REGISTER if="error[details][REGISTER]" inline>
  <div class="alert alert-warning">
    Please enter your Email and Password.
    <~msg_signup if="GLOBAL[IS_SIGNUP]" inline>
    If you don't have them yet - <a href='<~/signup/url>?item[email]=<~i[login]>'>Sign Up here</a>
    </~msg_signup>
  </div>
</~err_REGISTER>

<~form>

</div>
