<nav class="navbar navbar-default site-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<~ROOT_URL>/"><~/site_name></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
          <li <~/common/clactive ifeq="GLOBAL[controller.action]" value="Home.Index">><a href="<~ROOT_URL>/">Home</a></li>
          <li <~/common/clactive ifeq="GLOBAL[controller.action.id]" value="Home.Show.About">><a href="<~/home/url>/About">About</a></li>
          <li <~/common/clactive ifeq="GLOBAL[controller]" value="Contact">><a href="<~/contact/url>">Contact</a></li>
          <~logged_login unless="SESSION[is_logged]" inline>
            <li <~/common/clactive ifeq="GLOBAL[controller]" value="Login">><a href="<~/login/url>">Login</a></li>
          </~logged_login>
      </ul>

      <~logged_name if="SESSION[is_logged]" inline>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown"><~SESSION[user_name] if="SESSION[user_name]"><~SESSION[login] unless="SESSION[user_name]"> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<~/my/settings/url>">My Profile</a></li>
            <li><a href="<~/my/password/url>">Change Login or Password</a></li>
            <li class="divider"></li>
            <li><a href="/Logoff">Logoff</a></li>
          </ul>
        </li>
      </ul>
      </~logged_name>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
