<div class="d-none d-md-block position-relative" style="padding-left: 1em;">
   <div class="float-end"><button class="btn btn-link on-sidebar-toggler"><~/common/icons/three-dots-vertical></button></div>
   <h3>
      <a href="<~ROOT_URL>/" class="link-body-emphasis text-decoration-none">
        <img src="<~GLOBAL[ASSETS_URL]>/img/logo.png" alt="logo" height="33" class="d-inline-block align-text-top">
        <span class="fs-4 fw-semibold"><~/site_name></span>
      </a>
      <~./beta if="GLOBAL[is_test]">
   </h3>
</div>
<ul class="nav nav-pills flex-column mb-auto mt-3">
  <~logged_menu if="SESSION[user_id]" inline>
    <li class="nav-item">
      <a href="<~/main/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="Main">">
        <~/common/icons/grid-fill> <~/main/index/title>
      </a>
    </li>

    <~GLOBAL[menu_items] repeat inline>
      <li class="nav-item">
        <a href="<~ROOT_URL><~url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" vvalue="controller">">
          <~/common/icons/list-ul> <~iname>
        </a>
      </li>
    </~GLOBAL[menu_items]>

    <~admin80_menu ifge="SESSION[access_level]" value="80" inline>
      <li class="nav-item"><a href="#" class="nav-link disabled">`Manager Menu`</a></li>
      <li class="nav-item">
        <a href="<~/admin/reports/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="AdminReports">">
          <~/common/icons/file-ruled> `Reports`
        </a>
      </li>
      <li class="nav-item">
        <a href="<~/admin/demos/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="AdminDemos">">
          <~/common/icons/list-ul> `Demo`
        </a>
      </li>
      <li class="nav-item">
        <a href="<~/admin/demosdynamic/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="AdminDemosDynamic">">
          <~/common/icons/list-ul> `Demo Dynamic`
        </a>
      </li>
      <li class="nav-item">
        <a href="<~/admin/demodicts/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="AdminDemoDicts">">
          <~/common/icons/list-ul> `Demo Dict`
        </a>
      </li>
      <li class="nav-item">
        <a href="<~/admin/spages/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="AdminSpages">">
          <~/common/icons/files> `Pages`
        </a>
      </li>
      <li class="nav-item">
        <a href="<~/admin/att/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="AdminAtt">">
          <~/common/icons/cloud-upload> `Manage Uploads`
        </a>
      </li>
      <li class="nav-item">
        <a href="<~/admin/lookupmanager/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="AdminLookupManager">">
          <~/common/icons/search> `Lookup Manager`
        </a>
      </li>
    </~admin80_menu>

    <~admin90_menu ifge="SESSION[access_level]" value="90" inline>
      <li class="nav-item"><a href="#" class="nav-link disabled">`Admin Menu`</a></li>
      <li class="nav-item">
        <a href="<~/admin/users/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="AdminUsers">">
          <~/common/icons/person-lines-fill> `Manage Members`
        </a>
      </li>
      <li class="nav-item" >
        <a href="<~/admin/settings/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="AdminSettings">">
          <~/common/icons/sliders> `Site Settings`
        </a>
      </li>
    </~admin90_menu>

    <~admin100_menu ifeq="SESSION[access_level]" value="100" inline>
      <li class="nav-item" >
        <a href="<~/admin/db/url>" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="AdminDB">" target="_blank">
          <~/common/icons/tools> `Direct DB Access`
        </a>
      </li>
      <~dev_menu if="GLOBAL[IS_DEV]" inline>
      <li class="nav-item" >
        <a href="<~/dev/url>/Manage" class="nav-link link-body-emphasis <~/common/active ifeq="GLOBAL[controller]" value="DevManage">">
          <~/common/icons/tools> `Developer Tools`
        </a>
      </li>
      </~dev_menu>
    </~admin100_menu>

  </~logged_menu>
</ul>