<hr>
<~logged_menu if="SESSION[user_id]" inline>
<div class="dropdown">
  <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <~/layout/user_avatar if="SESSION[user_avatar_link]">
    <span class="fw-semibold"><~SESSION[user_name]></span>
  </a>
  <ul class="dropdown-menu text-small shadow">
    <!--li>
        <a href="<~/my/filters/url>" class="dropdown-item <~/common/active ifeq="GLOBAL[controller]" value="MyFilters">">
            <i class="bi bi-funnel"></i> <~/my/filters/index/title>
        </a>
    </li-->
    <li>
      <a href="<~/my/views/url>" class="dropdown-item <~/common/active ifeq="GLOBAL[controller]" value="MyViews">">
        <i class="bi bi-list-stars"></i> <~/my/views/index/title>
      </a>
    </li>
    <li>
      <a href="<~/my/lists/url>" class="dropdown-item <~/common/active ifeq="GLOBAL[controller]" value="MyLists">">
        <i class="bi bi-flag-fill"></i> <~/my/lists/index/title>
      </a>
    </li>
    <li>
      <a href="<~/my/settings/url>" class="dropdown-item <~/common/active ifeq="GLOBAL[controller]" value="MySettings">">
        <i class="bi bi-file-person"></i> <~/my/settings/showform/title>
      </a>
    </li>
    <li>
      <a href="<~/my/password/url>" class="dropdown-item <~/common/active ifeq="GLOBAL[controller]" value="MyPassword">">
        <i class="bi bi-key"></i> `Change Password`
      </a>
    </li>
    <~feedback_menu if="GLOBAL[feedback_email]" inline>
    <li>
      <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-my-feedback">
        <i class="bi bi-bug"></i> <~/my/feedback/showform/title>
      </a>
    </li>
    </~feedback_menu>
    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="<~/login/url_logoff>">
        <i class="bi bi-box-arrow-right"></i> `Logoff`
      </a>
    </li>
  </ul>
</div>
</~logged_menu>
