<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><~title><~tdot ifne="GLOBAL[controller.action]" value="Home.Index" inline> - </~tdot><~./site_name></title>

<link href="<~GLOBAL[ROOT_DOMAIN]><~GLOBAL[ASSETS_URL]>/css/bootstrap.min.css" rel="stylesheet">
<link href="<~GLOBAL[ROOT_DOMAIN]><~GLOBAL[ASSETS_URL]>/css/site.css?v<~GLOBAL[SITE_VERSION]>" rel="stylesheet">

<style type="text/css">
<!--
<~head.css>
-->
</style>

<script type="text/javascript">
 var ROOT_URL="<~ROOT_URL>";
 var me_id=<~SESSION[user_id]>+0;
 var lng;
</script>

<~head_script>
