<~/my/feedback/showform/modal>

<!-- Placed at the end of the document so the pages load faster -->
<!--script src="<~GLOBAL[ASSETS_URL]>/js/lng/<~GLOBAL[LANG]>.js"></script-->

<script src="<~GLOBAL[ASSETS_URL]>/js/jquery-3.5.1.min.js"></script>
<script src="<~GLOBAL[ASSETS_URL]>/js/bootstrap.bundle.min.js"></script>
<script src="<~GLOBAL[ASSETS_URL]>/js/fw.js?v<~GLOBAL[SITE_VERSION]>"></script>
<script src="<~GLOBAL[ASSETS_URL]>/js/jgrowl.min.js"></script>
<script src="<~GLOBAL[ASSETS_URL]>/js/jquery.form.min.js"></script>

<~load_script>

<script>
  <~head.js>

  $(document).ready(function(){
    fw.setup_handlers();
    <~onload.js>
  });

  <~./common.js>
  <~./admin.js ifge="SESSION[access_level]" value="100">
</script>

<~footer_script>

<~#/layout/counters/ga>
