<script type="text/x-template" id="activity-logs-template">
    <div>
        <h1>This is sample Vue component, use it as a template to create your own components</h1>
        <p>
            Value: {{sample_value}}
        </p>
        <div>
            <button type="button" @click="sampleMethod">Button</button>
        </div>
    </div>
</script>

<script type="module">
    import {mapStores} from 'pinia';

    fwApp.component('activity-logs', {
        template: '#activity-logs-template',
        props: {
            sampleProp: {
                type: String,
                required: false,
                default: ''
            }
        },
        emits: ['on-sample-event'],
        data: () => ({
            sample_value: 0,
        }),
        computed: {
            ...mapStores(useFwStore) //accessible via this.fwStore
        },
        mounted() {
            console.log('activity-logs mounted');
        },
        unmounted() {
            console.log('activity-logs unmounted');
        },
        updated() {
            console.log('activity-logs updated');
        },
        methods: {
            sampleMethod(e) {
                this.$emit('on-activity-logs-event', e);
            }
        }
    });
</script>
