<script type="text/x-template" id="list-customize-columns-template">
    <div id="modal-custom-cols" class="modal fade text-start" tabindex="-1" role="dialog" ref="modal_customize">
        <div class="modal-dialog modal-lg" role="document">
            <form @submit.prevent="onSave">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">`Customize Columns`</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modal-overflowed">

                        <p class="float-end text-muted">`drag&drop to sort`</p>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="custom-cols-checkall"
                                   v-model="cb_check_all" @change="onCheckAll">
                            <label class="form-check-label" for="custom-cols-checkall">`check all/none`</label>
                        </div>
                        <p></p>

                        <div class="col-rows">
                            <draggable v-model="fwStore.all_list_columns">
                                <div v-for="(column, index) in fwStore.all_list_columns"
                                     :key="column.field_name"
                                     class="form-check cb-row">
                                    <input type="checkbox" class="form-check-input"
                                           :checked="column.is_checked"
                                           :value="index+1"
                                           @input="e => column.is_checked = e.target.checked"
                                           :id="'custom-cols-fld-$'+column.field_name"
                                           :name="'fld['+column.field_name+']'">
                                    <label class="form-check-label" :for="'custom-cols-fld-$'+column.field_name">{{column.field_name_visible}}</label>
                                </div>
                            </draggable>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info me-auto" @click="onResetDefaults">Reset to Defaults
                        </button>

                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Saved Views
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" @click.prevent="onCreateNewView">Save as New View</a>
                                <div class="dropdown-divider"></div>
                                <a v-for="userview in fwStore.select_userviews"
                                   :key="userview.id"
                                   @click.prevent="onLoadView(userview.id)"
                                   class="dropdown-item" href="#">{{userview.iname}}</a>
                            </div>
                        </div>

                        <button class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="modal fade" ref="modal_create">
        <div class="modal-dialog modal-lg">
            <form @submit.prevent="onSave">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">`Save as New View`</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modal-overflowed">
                        <div class="row">
                            <label class="control-label col-sm-2" for="userviews-iname">`Title`</label>
                            <div class="col-sm-10">
                                <input id="userviews-iname" ref="list_iname" v-model="userviews_new_name"
                                       maxlength="255" type="text" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">`Save`</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">`Close`</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</script>

<script type="module">
    import {mapStores} from 'pinia';
    import {VueDraggableNext} from 'vue-draggable-next';

    fwApp.component('list-customize-columns', {
        template: '#list-customize-columns-template',
        props: [],
        emits: ['hidden'],
        components: {
            draggable: VueDraggableNext,
        },
        data: () => ({
            modal: null,
            modal_create: null,
            cb_check_all: false,
            userviews_new_name: ''
        }),
        computed: {
            ...mapStores(useFwStore) //accessible via this.fwStore
        },
        mounted() {
            console.log('customize columns mounted');
            this.showModal();
        },
        unmounted() {
            console.log('customize columns unmounted');
        },
        methods: {
            //check all/none rows
            onCheckAll(e) {
                this.fwStore.all_list_columns.forEach(el => el.is_checked = e.target.checked);
            },

            showModal(e) {
                if (!this.modal) {
                    this.modal = new bootstrap.Modal(this.$refs.modal_customize);
                }
                this.modal.show();
                this.$refs.modal_customize.addEventListener('hidden.bs.modal', e => {
                    this.$emit('hidden', e);
                }, {once: true});
            },

            async onResetDefaults(e) {
                this.modal.hide();
                await this.fwStore.saveUserViews({is_reset: true});
            },
            async onSave(e) {
                // build as "fld[filed_name]"=index ,"fld[filed_name]"=index, ...
                const fld = {};
                this.fwStore.all_list_columns.forEach((el, index) => {
                    if (el.is_checked) {
                        fld[el.field_name] = index + 1;
                    }
                });
                let params = {fld: fld};
                if (this.userviews_new_name > '') {
                    params.item = {iname: this.userviews_new_name};
                    this.userviews_new_name = '';
                    this.modal_create.hide();
                }

                this.modal.hide();
                await this.fwStore.saveUserViews(params);
            },

            onCreateNewView(e) {
                if (!this.modal_create) {
                    this.modal_create = new bootstrap.Modal(this.$refs.modal_create);
                }
                this.modal_create.show();
                let list_iname = this.$refs.list_iname;
                this.$refs.modal_create.addEventListener('shown.bs.modal', e => {
                    list_iname.focus();
                }, {once: true});
            },
            async onLoadView(id) {
                this.modal.hide();
                await this.fwStore.saveUserViews({load_id: id});
            },
        }
    });
</script>
