<script type="text/x-template" id="list-cell-input-template">
    <div :class="$slots.prepend || $slots.append || col.append || col.prepend ? 'input-group' : ''" :title="type">
        <template v-if="col.prepend" v-for="(el,index) in col.prepend" :key="index">
            <button type="button"
                    :class="el.class ? el.class : 'btn btn-default btn-sm'"
                    :title="el.hint"
                    @click.stop="onBtnClick(el.event)"
            >
                <i v-if="el.icon" :class="el.icon"></i> {{el.label}}
            </button>
        </template>
        <slot name="prepend"></slot>

        <autocomplete v-if="inputType=='autocomplete'"
                      v-model="row[col.field_name+'_iname']"
                      :placeholder="col.placeholder"
                      :required="col.required"
                      :readonly="col.readonly"
                      :pattern="col.pattern"
                      :class="(error?' is-invalid':'')"
                      :url="col.autocomplete_url"
                      @focus="onFocus"
                      @blur="$emit('blur', $event)"
                      @change="$emit('change', $event)"
        />

        <input v-else
               :type="inputType"
               :class="'form-control'+(error?' is-invalid':'')"
               :id="'cell-'+rowId+'-'+col.field_name"
               v-model="row[col.field_name]"
               :maxlength="col.maxlength"
               :min="col.min"
               :max="col.max"
               :step="col.step"
               :pattern="col.pattern"
               :required="col.required"
               :placeholder="col.placeholder"
               :readonly="col.readonly"
               :disabled="col.disabled"
               @focus="onFocus"
               @blur="$emit('blur', $event)"
               @change="$emit('change', $event)"
               @keydown.esc.prevent="onCancel"
               @keydown.enter.prevent="$emit('change', $event)"
               @keydown.up.prevent="onNavigate('up')"
               @keydown.down.prevent="onNavigate('down')"
               @keyup="$emit('keyup', $event)"
        >
        <slot name="append"></slot>
        <template v-if="col.append" v-for="(el,index) in col.append" :key="index">
            <button type="button"
                    :class="el.class ? el.class : 'btn btn-default btn-sm'"
                    :title="el.hint"
                    @click.stop="onBtnClick(el.event)"
            >
                <i v-if="el.icon" :class="el.icon"></i> {{el.label}}
            </button>
        </template>
        <div v-if="error" class="invalid-tooltip">{{error}}</div>
    </div>
</script>

<script type="module">
    fwApp.component('list-cell-input', {
        template: '#list-cell-input-template',
        props: {
            type: {
                type: [String, null]
            },
            rowId: {
                type: String,
                required: true
            },
            row: {
                type: Object,
                required: true
            },
            col: {
                type: Object,
                required: true
            },
            error: {
                type: String
            }
        },
        emits: ['focus', 'blur', 'change', 'navigate', 'btnClick', 'keyup'],
        data: () => ({
            initial_value: '', //value before change
        }),
        computed: {
            inputType: function () {
                const TYPE_MAP = {
                    text: 'text',
                    email: 'email',
                    number: 'number',
                    date: 'date',
                    date_popup: 'date',
                    password: 'password',
                    textarea: 'text',
                    autocomplete: 'autocomplete'
                };
                let type = this.type ?? this.col.input_type ?? 'text';
                return TYPE_MAP[type] ?? 'text';
            },
        },
        methods: {
            onFocus(e) {
                this.initial_value = this.row[this.col.field_name];
                this.$emit('focus', e);
            },
            onCancel(e) {
                this.row[this.col.field_name] = this.initial_value;
            },
            onNavigate(dir) {
                if (this.inputType == 'date') {
                    this.onCancel();
                }
                this.$emit('navigate', {dir, row: this.row, col: this.col});
            },
            onBtnClick(icode) {
                this.$emit('btnClick', {event: icode, row: this.row, col: this.col});
            }
        }
    });
</script>
