<meta http-equiv="Content-Security-Policy" content="<~/layout/content_security_policy> 'unsafe-eval'">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><~title><~tdot ifne="GLOBAL[controller.action]" value="Home.Index" inline> - </~tdot><~/site_name></title>
<meta name="keywords" content="<~meta_keywords> <~/site_name> <~/keywords>" />
<meta name="description" content="<~meta_description> <~/site_name>" />

<link href="<~GLOBAL[ASSETS_URL]>/lib/bootstrap/dist/css/bootstrap.min.css?v5.3.3" rel="stylesheet">
<link href="<~GLOBAL[ASSETS_URL]>/lib/bootstrap-icons/font/bootstrap-icons.min.css?v1.11.3" rel="stylesheet">
<link href="<~GLOBAL[ASSETS_URL]>/lib/vueform-multiselect/themes/default.css" rel="stylesheet" >
<link href="<~GLOBAL[ASSETS_URL]>/css/site.css?v<~GLOBAL[SITE_VERSION]>" rel="stylesheet">
<~/layout/theme_link if="GLOBAL[ui_theme]">

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="<~ROOT_URL>/favicon.ico">
<!--link rel="apple-touch-icon" href="<~GLOBAL[ASSETS_URL]>/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="<~GLOBAL[ASSETS_URL]>/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="<~GLOBAL[ASSETS_URL]>/img/apple-touch-icon-114x114.png"-->

<style type="text/css">
<!--
<~head.css>
-->
</style>

<script type="text/javascript">
 <~/layout/head_common.js>
</script>

<~head_script>
