<script type="text/x-template" id="date-picker-template">
    <div class="input-group date">
        <input type="text"
               class="form-control"
               maxlength="10"
               :placeholder="placeholder"
               :required="required"
               v-model="dateStr">
        <span class="input-group-append"><button class="btn btn-default" type="button"><i
                class="bi bi-calendar3"></i></button></span>
    </div>
</script>

<script type="module">
    fwApp.component('date-picker', {
        template: '#date-picker-template',
        props: ['modelValue', 'placeholder', 'required'],
        emits: ['update:modelValue'],
        data: () => ({
            dateStr: this.modelValue
        }),
        watch: {
            dateStr(val) {
                console.log('date-picker watch dateStr', val);
                $(this.$el).datepicker("update", new Date(val));
                this.$emit('update:modelValue', val);
            }
        },
        mounted() {
            console.log('date-picker mounted:', this.value, this.$el);
            if (this.value) {
                this.dateStr = this.value;
            }
            $(this.$el).datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true
            }).on('changeDate', (e) => {
                console.log('date-picker changeDate', e);
                if (e.viewMode == 'years' || e.viewMode == 'months') return; //do not trigger change yet, while user selecting year/month

                const dateObj = e.date;
                // Add +1 to month since js getMonth() return zero based value
                const month = String(dateObj.getMonth() + 1).padStart(2, '0');
                const day = String(dateObj.getDate()).padStart(2, '0');
                const year = dateObj.getFullYear();
                this.dateStr = year + '-' + month + '-' + day;
            });
        }
    });
</script>
