<script type="text/x-template" id="form-one-col-template">
    <div :class="def.class ? def.class : 'col-12'">
        <form-one-def
                v-for="(child_def, index) in def.children"
                :key="index"
                :form="form"
                @update-form-field="$emit('update-form-field', $event)"
                @cancel-form="$emit('cancel-form', $event)"
                :def="child_def"
                :lookups="lookups"
        />
    </div>
</script>

<script type="module">
    fwApp.component('form-one-col', {
        template: '#form-one-col-template',
        props: {
            def: {
                type: Object,
                required: true
            },
            lookups: {
                type: Object,
                required: true
            },
            form: {
                type: Object,
                required: true
            }
        },
        emits: ['update-form-field', 'cancel-form'],
        data: () => ({}),
        mounted() {
        },
        methods: {}
    });
</script>
