<div class="mb-2 clearfix">
    <div class="float-end pt-1 ps-3">
        `Color Mode`:
        <a href="<~../url>/(UIMode)/0" class="btn btn-default btn-sm" <~/common/disabled ifeq="GLOBAL[ui_mode]" value="0">><~/common/icons/circle-half> `Auto`</a>
        <a href="<~../url>/(UIMode)/10" class="btn btn-light btn-sm" <~/common/disabled ifeq="GLOBAL[ui_mode]" value="10">><~/common/icons/sun-fill> `Light`</a>
        <a href="<~../url>/(UIMode)/20" class="btn btn-dark btn-sm" <~/common/disabled ifeq="GLOBAL[ui_mode]" value="20">><~/common/icons/moon-stars-fill> `Dark`</a>
    </div>
    <div class="float-end pt-1">
        `Theme`:
        <a href="<~../url>/(UITheme)/0" class="btn btn-default btn-sm" <~/common/disabled ifeq="GLOBAL[ui_theme]" value="0">>`Default`</a>
        <a href="<~../url>/(UITheme)/10" class="btn btn-danger btn-sm" <~/common/disabled ifeq="GLOBAL[ui_theme]" value="10">>`Red`</a>
        <a href="<~../url>/(UITheme)/20" class="btn btn-success btn-sm" <~/common/disabled ifeq="GLOBAL[ui_theme]" value="20">>`Green`</a>
        <a href="<~../url>/(UITheme)/30" class="btn btn-info btn-sm" <~/common/disabled ifeq="GLOBAL[ui_theme]" value="30">>`Blue`</a>
    </div>
    <h1><~title></h1>
</div>

<~/common/form/msg>

<div class="row">
    <div class="col">
        <~std_pane sub="panes[plate1]">
    </div>
    <div class="col">
        <~std_pane sub="panes[plate2]">
    </div>
    <div class="col">
        <~std_pane sub="panes[plate3]">
    </div>
    <div class="col">
        <~std_pane sub="panes[plate4]">
    </div>
</div>

<div class="row">
    <div class="col col-sm-8">
        <~std_pane sub="panes[barchart]">
    </div>
    <div class="col col-sm-4">
        <~std_pane sub="panes[piechart]">
    </div>
</div>

<div class="row">
    <div class="col col-sm-5">
        <~std_pane sub="panes[tabledata]">
    </div>
    <div class="col col-sm-7">
        <~std_pane sub="panes[linechart]">
    </div>
</div>

<~/layout/footer>
