<!DOCTYPE html>
<html lang="en">
  <head>
    <~/layout/sys_head>
  </head>
  <body class="fwlayout-fluid <~body_class>">
    <div class="container-fluid main-container">
        <~pre_main>
        <div class="row">
          <div class="col d-md-none bg-theme-color">
            <a href="#" data-toggle="collapse" data-target="#sidebarToggler" class="btn float-right text-dark"><i class="glyphicon glyphicon-menu-hamburger"></i>
            </a>
            <a href="<~/main/url>" class="d-inline mb-0" style="line-height: 2.2em"><~/site_name><!--img src="<~ROOT_URL>/assets/img/logo_transparent.png" style="height: 1.4em"--></a>
          </div>
        </div>
        <div class="row">
          <nav class="col-md-3 col-lg-2 d-md-block sidebar bg-theme-color d-print-none collapse" id="sidebarToggler">
            <div class="sidebar-nav">
              <~/layout/sidebar unless="hide_std_sidebar">
              <~sidebar>
            </div>
            <footer class="site-footer">
              <~/layout/footer>
            </footer>
          </nav>
          <main role="main" class="col-md-9 ml-md-auto col-lg-10 pl-md-3 main">
            <~main>
          </main>
        </div>
    </div><!--/.fluid-container-->

    <~/layout/sys_footer>
  </body>
</html>
