<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><~title><~tdot ifne="GLOBAL[controller.action]" value="Home.Index" inline> - </~tdot><~./site_name></title>
    <meta name="keywords" content="<~keywords> <~./site_name> <~./keywords>" />
    <meta name="description" content="<~./site_name>" />

    <~/std/sys_head>

  </head>
  <body>
    <div class="container main-container">
      <~main>
    </div><!--/.fluid-container-->
    <footer class="site-footer hide-print">
      <~/std/footer>
    </footer>

    <~/std/sys_footer>
  </body>
</html>
