<nav class="navbar navbar-expand-md bg-body-tertiary d-md-none site-navbar">
  <div class="container-md">
    <a class="navbar-brand" href="<~ROOT_URL>/">
      <img src="<~GLOBAL[ASSETS_URL]>/img/logo.png" alt="logo" height="28" class="align-text-top">
      <~/site_name><~./beta if="GLOBAL[is_test]">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>