<div class="btn-group">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="bi bi-flag"></i> `Add to List`
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item on-create-userlist" href="#">`Create New List`</a>
      <div class="dropdown-divider"></div>
      <~my_userlists repeat inline>
        <button type="submit" class="dropdown-item" name="addtolist" value="<~id>"><~iname></button>
      </~my_userlists>
    </div>
  </div>
  <~userlists_remove_btn if="f[userlist]" inline>
    <button type="submit" class="btn btn-default" name="removefromlist" value="<~f[userlist]>">`Remove from List`</button>
  </~userlists_remove_btn>
</div>
