  <label class="col-form-label col-md-2 col-xl-1" for="fs">`Search`</label>
  <div class="col">
      <div class="input-group">
          <input type="text" id="fs" name="f[s]" value="<~f[s]>" maxlength="255" class="form-control" placeholder="<~list_filter_search_placeholder>">
          <button class="btn btn-outline-secondary w100"><i class="bi bi-search"></i></button>
          <a href="<~/common/list/reset_filter_relid>" class="btn btn-outline-secondary w100 on-filter-reset">`Reset`</a>
      </div>
  </div>
