<link href="<~ROOT_URL>/css/bootstrap-markdown.min.css" rel="stylesheet">
<style>
 .md-editor > textarea {
   padding:10px;
   background-color: #fff;
   overflow: hidden;
 }
 .md-editor > .md-preview {
    padding:10px;
    height: auto !important;
 }
</style>

<script src="<~ROOT_URL>/js/markdown.min.js"></script>
<script src="<~ROOT_URL>/js/to-markdown.js"></script>
<script src="<~ROOT_URL>/js/bootstrap-markdown.js"></script>
<script>
    $(document).ready(function() {

        $("textarea.markdown")
        .on('paste', function (e) {
            var cd = e.originalEvent.clipboardData;
            if (!cd) return; //IE doesn't support paste as html, so just pass it as is

            if (cd.types.contains && cd.types.contains('text/html') || cd.types.indexOf && cd.types.indexOf('text/html')>-1 ){
                var data = cd.getData('text/html');
                data = toMarkdown(data);
                field_insert_at_cursor(this, data);
                e.preventDefault();
            }
        })
        .markdown({
            hiddenButtons: 'cmdImage',
            additionalButtons: [
                [{
                      name: "groupCustom",
                      data: [{
                        name: "cmdAddImage",
                        toggle: false,
                        title: "Add Image",
                        icon: "glyphicon glyphicon-picture",
                        callback: function(e){
                            // Replace selection with some drinks
                            var chunk, cursor,
                                selected = e.getSelection(), content = e.getContent();

                            modal_att_open('general', function (e2, id, iname, url) {
                                chunk="![]("+url+")";

                                // transform selection and set the cursor into chunked text
                                e.replaceSelection(chunk);
                                cursor = selected.start;

                                // Set the cursor
                                e.setSelection(cursor,cursor+chunk.length);
                            });
                        }//end callback
                      }]
                }]
            ]
            // ,onPreview: function(e) {
            // }
        });

    });
</script>