 <!--
  Documentation is here:
  https://www.jqueryscript.net/text/Easy-WYSIWYG-Markdown-Rditor-For-Bootstrap-Bootstrap-Markdown.html
-->

<link href="<~GLOBAL[ASSETS_URL]>/css/glyphicons.css" rel="stylesheet">
<link href="<~GLOBAL[ASSETS_URL]>/css/bootstrap-markdown.min.css" rel="stylesheet">
<style>
.md-editor,
.md-editor.activeX
{
 border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
 border-radius: var(--bs-border-radius)
}
.md-editor .md-footer
, .md-editor>.md-header {
 background-color: var(--fw-pane-bg);
}
.md-editor > textarea {
 padding:10px;
 background-color: var(--bs-body-bg);
 border-bottom:none;
 color: var(--bs-body-color);
 overflow: hidden;
}
.md-editor > textarea:focus {
 background-color: var(--bs-body-bg);
 color: var(--bs-body-color);
}
.md-editor > .md-preview {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  padding:10px;
  height: auto !important;
}
.md-editor .hidden {
  display: none;
}
.md-editor .btn-primary {
  display: none;
}
</style>

<script src="<~GLOBAL[ASSETS_URL]>/js/markdown-it.min.js"></script>
<script src="<~GLOBAL[ASSETS_URL]>/js/turndown.min.js"></script>
<script src="<~GLOBAL[ASSETS_URL]>/js/bootstrap-markdown.min.js"></script>
<script src="<~GLOBAL[ASSETS_URL]>/js/jquery.hotkeys.js"></script>
<script>
  $(document).ready(function() {

    var turndownService = new TurndownService({
      headingStyle: 'atx',
      hr: '---',
      bulletListMarker: '-',
      codeBlockStyle: 'fenced',
      blankReplacement : function (content, node) {
        return node.isBlock ? '\n\n' : content;
      }
    });
    // turndownService.addRule('fromWord', {
    //   filter: ['u','span','sup'], //filter out excessive Word tags
    //   replacement: function (content, node) {
    //     return content;
    //   }
    // });

    var mdOptions={
      html:       true,
      breaks:     true,
      linkify:    true
    };
    var md = window.markdownit(mdOptions);

    $("textarea.markdown")
    .on('paste', function (e){
      var cd = e.originalEvent.clipboardData;
      if (!cd) return; //IE doesn't support paste as html, so just pass it as is

      if (cd.types.contains && cd.types.contains('text/html') || cd.types.indexOf && cd.types.indexOf('text/html')>-1 ){
        var data = cd.getData('text/html');
        var bodyHtml = /<body.*?>([\s\S]*)<\/body>/.exec(data)[1];

        //console.log('data before:', bodyHtml)
        data = turndownService.turndown(bodyHtml);
        //console.log('data after:', data)

        //data = toMarkdown(data, { gfm: true });
        //data = toMarkdown(data, { converters: aconverters });

        fw.field_insert_at_cursor(this, data);
        e.preventDefault();
      }
    })
    .markdown({
      //hide&disable default add image btn
      hiddenButtons: 'cmdImage',
      disabledButtons: 'cmdImage',
      resize: 'vertical', //by default manual textarea resize is disabled
      //iconlibrary: 'glyph',
      parser: function (v) {
        return md.render(v);
      },
      additionalButtons: [
        [{
          name: "groupCustom",
          data: [{
            name: "cmdAddImage",
            toggle: false,
            title: "Add Image",
            hotkey: 'Ctrl+G',
            icon: {
              glyph: 'glyphicon glyphicon-picture',
              fa: 'fa fa-picture-o',
              'fa-3': 'icon-picture',
              octicons: 'octicon octicon-file-media'
            },
            callback: function(e){
              // Replace selection with some drinks
              var chunk, cursor, selected = e.getSelection(), content = e.getContent();

              var att_category = e.$textarea.data('att-category') ?? 'general';
              modal_att_open(att_category, function (e2, id, iname, url) {
                chunk="![]("+url+")";

                // transform selection and set the cursor into chunked text
                e.replaceSelection(chunk);
                cursor = selected.start;

                // Set the cursor
                // vlad: we need a small timeout because "blur" is triggered when att is selected and it can revert the "focus". Textarea needs focus for setSelection to work.
                setTimeout(function(){
                  e.$element.focus();
                  e.setSelection(cursor,cursor+chunk.length);
                }, 100)

                //handle autosave
                if (!e.$element.is('[data-noautosave]')) e.$element.closest('form[data-autosave]').trigger('change');
              });
            }//end callback
          },{
            name: 'cmdPreviewCustom',
            toggle: true,
            hotkey: 'Ctrl+P',
            title: 'Preview',
            btnText: 'Preview',
            btnClass: 'btn btn-secondary btn-sm',
            icon: {
              glyph: 'glyphicon glyphicon-search',
              fa: 'fa fa-search',
              'fa-3': 'icon-search',
              'fa-5': 'fas fa-search',
              octicons: 'octicon octicon-search'
            },
            callback: function(e) {
              // Check the preview mode and toggle based on this flag
              if (e.$isPreview === false) {
                // Give flag that tells the editor to enter preview mode
                e.showPreview();
              } else {
                e.hidePreview();
              }
            }
          }]
        }]
      ],
      onChange: function(e){
        // handle autosave forms on content change
        if (!e.$element.is('[data-noautosave]')) {
          if (e.$element.data('md-save-content') === undefined) e.$element.data('md-save-content', e.$oldContent);

          if (e.$element.data('md-save-content') !== e.getContent()) {
            e.$element.data('md-save-content', e.getContent());
            e.$element.closest('form[data-autosave]').trigger('change');
          }
        }
      }
      // ,onPreview: function(e) {
      // }
    });

  });
</script>