<link href="<~ROOT_URL>/css/bootstrap-markdown.min.css" rel="stylesheet">
<style>
 .md-editor > textarea {
   padding:10px;
   background-color: #fff;
   overflow: hidden;
 }
 .md-editor > .md-preview {
    padding:10px;
    height: auto !important;
 }
</style>

<script src="<~ROOT_URL>/js/markdown-it.min.js"></script>
<script src="<~ROOT_URL>/js/to-markdown.js"></script>
<script src="<~ROOT_URL>/js/bootstrap-markdown.js"></script>
<script src="<~ROOT_URL>/js/jquery.hotkeys.js"></script>
<script>
    $(document).ready(function() {

        var aconverters=[
            {
                filter: ['u','span','sup'],
                replacement: function (content, node) {
                    return content;
                }
            },
        ];
        var mdOptions={
            html:       true,
            breaks:     true,
            linkify:    true
        };
        var md = window.markdownit(mdOptions);

        $("textarea.markdown")
        .on('paste', function (e) {
            var cd = e.originalEvent.clipboardData;
            if (!cd) return; //IE doesn't support paste as html, so just pass it as is

            if (cd.types.contains && cd.types.contains('text/html') || cd.types.indexOf && cd.types.indexOf('text/html')>-1 ){
                var data = cd.getData('text/html');
                //data = toMarkdown(data, { gfm: true });
                data = toMarkdown(data, { converters: aconverters });
                fw.field_insert_at_cursor(this, data);
                e.preventDefault();
            }
        })
        .markdown({
            //hide&disable default add image btn
            hiddenButtons: 'cmdImage',
            disabledButtons: 'cmdImage',
            //iconlibrary: 'glyph',
            parser: function (v) {
                return md.render(v);
            },
            additionalButtons: [
                [{
                      name: "groupCustom",
                      data: [{
                        name: "cmdAddImage",
                        toggle: false,
                        title: "Add Image",
                        hotkey: 'Ctrl+G',
                        icon: {
                            glyph: 'glyphicon glyphicon-picture',
                            fa: 'fa fa-picture-o',
                            'fa-3': 'icon-picture',
                            octicons: 'octicon octicon-file-media'
                        },
                        callback: function(e){
                            // Replace selection with some drinks
                            var chunk, cursor,
                                selected = e.getSelection(), content = e.getContent();

                            modal_att_open('general', function (e2, id, iname, url) {
                                chunk="![]("+url+")";

                                // transform selection and set the cursor into chunked text
                                e.replaceSelection(chunk);
                                cursor = selected.start;

                                // Set the cursor
                                e.setSelection(cursor,cursor+chunk.length);
                            });
                        }//end callback
                      }]
                }]
            ]
            // ,onPreview: function(e) {
            // }
        });

    });
</script>