<~pager_block if="pager" inline>
  <ul class="pagination mt-3">
    <!--li><a href="#">&larr;</a></li-->
    <~pager repeat inline>
    <li class="page-item <~/common/active ifeq="is_cur_page" value="1">">
      <a class="page-link" href="?f[pagenum]=<~pagenum><~pager_url>"><~pagenum_show></a>
    </li>
    </~pager>
    <!--li><a href="#">&rarr;</a></li-->
    <li>&nbsp;
        <select name="f[pagesize]" class="form-control on-pagesize-change">
        <~/common/sel/pagesize.sel select="f[pagesize]">
        </select>
    </li>
  </ul>
</~pager_block>